body{
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navv img{
    width: 100px;
    justify-content: flex-start;
}

.navv{
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.644);
    height: 13vh;
    margin-bottom: 10px;
}
.linkss a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    font-size: large;
    margin-right: 10px;
}
.linkss{
    display: flex;
    gap: 20px;
    margin-left: auto;
}
.title{
    width: 100%;
    margin-top: 20px;
}
.tagline,.tag, .learn-h, .donations h2{
    margin-top: 5px;
    text-align: center;
}
.tagline h5, .tag h1, .learn-h h2{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
}
.tagline p, .paragraph, .tag p, .learn-h p, .donations p{
    font-size:20px ;
    width: 600px;
    margin: auto;
    margin-bottom: 13px;
}
.tagline a{
    text-decoration: none;
    border: 1px solid rgba(0, 111,139,0.753);
    padding:8px 15px;
    background-color: rgba(0, 111, 139, 0.753);
    color: #fff;
    font-size: 21px;
    border-radius: 15px;
}
.hero{
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hero img{
    width: 40%;
    margin: auto;
    height: 40vh;
    object-fit: cover;
    border-radius: 15px;       
}
.paragraph, .title{
    text-align: center;
    margin-bottom: 20px;
}
.footer p{
    text-align: center;
}
.footer{
    background-color:rgba(0, 0, 0, 0.644);
   /* height: 39vh;*/
}
.logos{
    display: flex;
    gap: 10px;
}
.logos img{
    width: 30px;
}
.footer-columns{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;

}
form input{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px 10px;
}
.donate{
    display: flex;
    justify-content: space-around;
}
.hunger{
    width: 290x;
    margin-right: 30px;
}
.hunger img{
    width: 100%;
    height: 65vh;
    border-radius: 15px;
}
.food-sharing{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.textt ,.food-safety-text{
    width: 570px;
    line-height: 25px;
    margin-left: 30px;
}
.learn-pic{
    width: 450px;
    margin-right: 35px;
   
}
 .learn-pic img{
    width:100%;
    height: 50vh;
    border-radius: 15px;
}
.learn-h{
    margin-bottom: 35px;
}
.food-waste, .tips{
    margin-left: 30px;
}
.food-safety{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.safety-vid video , .food-waste video,.tips video, .donate-vid{
    border-radius: 20px;
}
.safety-vid{
    margin-right: 35px;
}
.tips-text{
    line-height: 25px;
}
.about{
    text-align: center;
    margin-bottom: 20px;
}
.about p{
   width: 450px; 
   margin: auto;
}
.footer-columns a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

}
.footer p{
    font-weight: bold;
}
.donations{
    margin-top: 70px;
    margin-bottom: 50px;
}
.banner img{
    height: 70vh;
}
.cad{
    height: 65vh;
}
.cad img{
    height: 40vh;
}
.cadd{
    height: 80vh;
}
.cadd img{
    height: 40vh;
}


@media(max-width:1020px){
    .linkss{
        display: block;
        width: 100%;
    }
    .linkss a{
        display: block;
        text-align: right;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
    }
    .navv img{
        width: 130px;
    }
    .banner img{
        height: 30vh;
    }
    .cadd{
        height: 93%;
    }
    .cad{
        height: 76vh;
    }
    .navv{
        height: 152px;
    }
    .footer{
        font-family: 'Times New Roman', Times, serif;
    }
    .desk,.hands, .hunger img,.foot{
        display: none;
    }
    .tagline p, .paragraph, .learn-h p{
        width: 300px;
    }
    .tag p, .donations p{
        width:290px ;
    }
    form{
        width: 125%;
    }
    .donate{
     justify-content: center;
    }
    .food-safety,.tips{
        display: block;
        text-align: center;
    }
    
    .learn-pic img{
        width: 80%;
        height: 55vh;
    }
    .safety-vid,.tips-vid,.f-w-v,.d-v{
        width: 100%;
    }
    .safety-vid video, .tips-vid video,.food-waste-vid,.donate-vid{
        width: 85%;
    }
    .food-sharing{
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    .textt, .learn-pic,.food-safety-text{
        width: 100%;
    }
    .textt p,.food-safety ul{
        width: 85%;
    }
    .food-waste{
        text-align: center;
    }
    .about p, .learn-h p, .textt h3{
        width: 85%;
    }
}